<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">Login</h5>
        </div>
        <div class="panel-body">
          <h5 class="logintext">メールアドレスと<br>パスワードを入力してください。</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス"%>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
          </div>
          <div class="actions">
            <%= f.submit "Login",class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .panel-default {
    margin: 50px 0;
  }
  .panel-body {
    margin-top: 10px;
  }
  .logintext {
    line-height: 1.5;
  }
  .field {
    margin: 10px 0;
  }
</style>

