<div class="container-fluid main">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="toptext">
				<h2><strong>このサイトは？</strong></h2>
				<p><strong>
					ユーザーの作品投稿を通して、モチベーションのアップを助けるサイトです。<br>
					どんなに小さい発想のタネでも、みんなで育てればきっと大きな木になります。<br>
					恥ずかしがらずにまず作品を投稿してみましょう！
				</strong></p>
				<% if user_signed_in? %>
				<p><%= link_to "はじめる！",'/home', class: "btn btn-success" %></p>
				<% else %>
				<p><%= link_to "はじめる！",'/users/sign_up', class: "btn btn-success" %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>

<style>
	footer {
		display: none;
	}
</style>