<div class="container-fluid bg-green">
	<div class="raw">
		<div class="col-md-8 col-md-offset-2 bg-white main">
			<div>
				<h1><strong>Plant & Nuture ...<br>Motivated ! </strong></h1>
				<p class="toptext"><strong>植える、育てる、やる気出る。</strong></p>
			</div>
			<div class="text-center">
				<h3>このサイトは?</h3>
				<p class="menutext">
					文章や画像を投稿したり、投稿された作品に対して文章や画像を返信できたりします。
					<br>他にもコメントとかふぁぼとかフォローとか
				</p>
			</div>
			<div class="col-md-6">
				<h3>まず何をすればいいの?</h3>
				<img class="menuimage" src="/assets/topimage1.jpg">
				<p class="menutext">
					<br>まず勇気を持って作品を投稿してみましょう。
					<br>創作活動においてNGは存在しません。
					<br>アウトプットの連続がモチベーションの上昇に繋がります。
				</p>
			</div>
			<div class="col-md-6">
				<h3>返信したいんだけど?</h3>
				<img class="menuimage" src="/assets/topimage2.jpg">
				<p class="menutext">
					<br>供給者は消費者からのレスポンスによって成長します。
					<br>返信はインプット、アウトプットを同時にこなせるので
					<br>成長への最適解と言えるでしょう。
				</p>
			</div>
		</div>		
	</div>
</div>

<style>
	.main {
		margin-bottom: 20px;
		padding-bottom: 40px;
	}
	h1 {
		color: #ffffff;
		padding-top: 100px;
		font-family: arial block;
	}
	.toptext {
		color: #ffffff;
	}
	.text-center {
		margin-top: 220px;
	}
	h3 {
		border-bottom: dashed 4px #1c8c42;
		line-height: 1.5
	}
	.col-md-6 {
		margin-top: 100px;
	}
	.menuimage {
		height: 340px;
		width: 340px: 
	}
</style>
