<div class="container-fluid bg-green">
	<div class="raw">
		<div class="col-md-8 col-md-offset-2 bg-purewhite main">
			<section>
				<h1>Plant & Nuture ...<br>Motivated ! </h1>
				<p class="toptext">植える、育てる、やる気出る。</p>
			</section>
			<div class="menubox">
				<section>
					<h3>まず何をすればいいの?</h3>
					<div class="inline-block">
						<img id="topimage" src="/assets/topimage1.jpg">
					</div>
					<div class="inline-block" id="menucontents">
						<p class="menutext">まずは種を植えてみましょう。<br>
							あなたの種に様々な人が水を<br>
							あげに来てくれるかもしれません。<br>
							水をあげなくても言葉を残していってくれる<br>
							人もいるかもしれません</p>
					</div>
				</section>
				<section>
					<h3>苗を見つけた!どうすればいいの?</h3>
					<div class="inline-block">
						<img id="topimage" src="/assets/topimage2.jpg">
					</div>
					<div class="inline-block" id="menucontents">
						<p class="menutext">苗は常に水を欲しています。<br>
							あなたの新鮮な作品は苗にとって<br>
							必要不可欠な水分となって成長を促します。<br>
							今は水がない!という人も苗にコメントを遺すことで<br>
							健やかな成長の手助けができるかもしれません。</p>
					</div>
				</section>
			</div>
		</div>		
	</div>
</div>
</div>
<style>
	h1 {
		color: #ffffff;
		padding-top: 100px;
	}
	.toptext {
		color: #ffffff;
	}
	h3 {
		padding-top: 120px;
	}
	#topimage {
		width: 320px;
		height: 320px;
	}
	.menutext {
		font-size: 120%;
		line-height: 1.5;
		letter-spacing: 0.2em;
	}
	.menubox {
		padding-top: 50px;
	}
	#menucontents {
		margin-left: 50px;
	}

</style>
