<div class="container">
  <div class="raw">
    <div class="col-md-8 col-md-offset-2">
      <% @posts.each do |post| %>
      <%= post.post_title %>
      <%= post.post_text %>
      <% end %>
    </div>
  </div>
</div>