<div class="body">
	<div class="container">
		<div class="raw">
			<div class="col-md-3 col-md-offset-1 well">
				other_user
			</div>
			<div class="col-md-4 well">
				tree
			</div>
			<div class="col-md-3 well">
				current_user
				<%= @post.post_title %>
				<%= @post.post_text %>
			</div>
		</div>
	</div>
</div>


