#modal {
	margin-bottom: 20px;
}
.text-left {
	margin-left: 65px;
}
#headbutton {
	.btn {
		margin-bottom: 5px;
	}
}
.button {
	margin: auto 5px;
}
#posttitle {
	font-weight: bold;
	font-size: 120%;
	border-bottom: dashed 3px #1c8c42;
	line-height: 1.5
}
#posttext {
	margin-top: 5px;
}
.commentform {
	margin: 20px auto;
}