.col-md-4 {
	margin: auto 5px;
}
.panel-default {
	margin: 50px 0;
}
.panel-body {
	margin-top: 10px;
}
.field {
	margin: 10px 0;
}
.actions {
	padding-bottom: 10px;
}
#followers {
	margin-top: 5px;
	font-size: 80%;
}
#follow {
	margin: 4px 2px;
}
#scrollbox {
	height: 80vh;
	overflow: scroll;
}
h4 {
	border-bottom: dashed 3px #1c8c42;
	line-height: 1.5
}